body {
  background-color: #cccccc;
  margin-left: 220px;
  margin-right: 100px;
}
.container {
  background-color: #736F6E;
  width: 900px;
  height: 750px;
}
.container .menu {
  background-color: #663300;
  padding: 10px 0 10px 0;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #cccc99;
  padding-left: 30px;
}
a:hover {
  text-decoration: underline;
  color: white;
}
.motto {
  background-color: #666666;
  padding-top: 0;
  font-weight: bold;
  color: #493D26;
}
.motto p {
  text-align: center;
  font-family: cursive;
  padding: 0 30px 0 30px;
  margin-bottom: 2px;
  line-height: 25px;
}
.motto span {
  padding-left: 650px;
}
.books {
  padding: 10px 10px 10px 10px;
}
.books img {
  float: left;
  padding-right: 15px;
}
.books p {
  color: white;
}
.books h1 {
  font-size: 25px;
}
.books h3 {
  color: #660000;
  font-size: 15px;
  font-weight: bold;
}
.books .request-button {
  float: left;
  background-color: #996633;
  width: 150px;
  padding: 5px 0 5px 0;
}
.books .book-box {
  display: block;
  float: left;
  width: 320px;
  height: 250px;
  padding: 15px;
  margin: 10px 0 5px 55px;
  border: 1px solid black;
}
